---
import Layout from "../layouts/Layout.astro";
import { TodoReact } from "../components/TodoReact";
import NavBar from "../components/NavBar.astro";
---

<Layout title="Todo React app">
  <main class="layout-slot">
    <NavBar />
    TODO REACT component
    <TodoReact client:load />
  </main>
</Layout>
